<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerar Page</title>
</head>
<body>
    <center><H2>Registerar Page</H2></center>
    <a href="{% url 'registerar_presonal_account_mgt' %}">
        <button>Manage Personal Account</button>
    </a>
    <br>
    <br>

    <a href="{% url 'regisetrar_account_logout' %}">
        <button>Logout</button>
    </a>
    <br>
    <br>

    
</body>
</html>
<br>

<a href="{% url 'registerar_student_info_mgt' %}">
    <button>Manage Students</button>
</a>
<br>
<br>

<a href="">
    <button>Train Model</button>
</a>
<br>
<br>


Define due date for payment
<br>
Manage students payment and send notice when day comes to an end
<br>
Train model for photos taken
<br>

