<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    
    <a href="{% url 'registerar_student_info_insert' %}"><button>Register New Student +</button></a>
    <br><br>
    <h3>List of Students</h3>
    <br>
    <br>
    <table>
        {% if is_empty  > 0 %}
            {% for student in student_object %}
             <tr>
                <td>{{student.firstname}}</td>
                <td>{{ student.middlename }} </td>
                <td>{{ student.lastname }}</td>
                {% if student.is_photos_taken %}
                    <td>
                        Photo TAKEN
                    </td>
                {% else %}
                    <td>
                        <a href="">    <span style="color:red">Take Photo </span> </a>
                    </td>
                {% endif %}

                <td><a href="{% url 'registerar_student_info_edit' student.userid %}">Edit</a></td>
                <td><a href="{% url 'registerar_student_info_delete' student.userid %}">Delete</a></td>
             </tr>

            {% endfor %}
        {% else %}
             <tr>
                <td> No Student are registered , register one to see list  </td>
             </tr>
        {% endif %}
    </table>


</body>
</html>