<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Page</title>
</head>
<body>

    <a href="{% url 'teacher_personal_account' %}">
        <button> Personal Account</button>
    </a>
    <br>
    <br>

    <a href="{% url 'teacher_logout' %}">
        <button> Logout</button>
    </a>
    <br>
    <br>

    <a href="{% url 'student_information_mgt_page_by_teacher' %}">
        <button> View Students </button>
    </a>
    <br>
    <br>

    <a href="{% url 'course_information_mgt_by_teacher' %}">
        <button>Manage Course Information </button>
    </a>
    <br>
    <br>

    <a href="{% url 'teacher_examination_mgt_course_view_page' %}">
        <button>Manage Exam Information </button>
    </a>
    <br>
    <br>

    <a href="{% url 'assignment_mgt_course_list_view_page' %}">
        <button>Manage Assignments </button>
    </a>
    <br>
    <br>

   
    
</body>
</html>
    
</body>
</html>