<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Faculty</title>
</head>
<body>


        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="faculty_name"> Faculty Name</label>
            <input type="text" name="faculty_name"  value="{{ faculty_info.full_faculty_name }}" required>
            <br>
            <br>


            <label for="faculty admin"> Faculty Admin</label>
            <br>
            <select name="choosen_teacher" id="">
                {% for teacher in availabel_teachers %}
                    <option value="{{ teacher.employee.employeeid }}"> {{teacher.employee.firstname}}</option>
                {% endfor %}
            </select>
            <p>current Choosed Dean Full Name : {{  faculty_info.facult_adminstrator.firstname }} {{ faculty_info.facult_adminstrator.firstname }}</p>
            
            <br>
            <br>
            
            <button type="submit">Register</button>


        </form>
   
    
</body>
</html>