<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>


    <a href="{% url 'admin_personal_account' %}">
        <button> Personal Account</button>
    </a>
    <br>
    <br>

    <a href="{% url 'school_admin_logout' %}">
        <button> Logout</button>
    </a>
    <br>
    <br>

    <a href="{% url 'view_list_teachers' %}">
        <button> Manage Teacher Information</button>
    </a>
    <br>
    <br>

    <a href="{% url 'view_list_registerar' %}">
        <button> Manage Registerar Information</button>
    </a>
    <br>
    <br>

    <a href="{% url 'admin_staffs_display_page' %}">
        <button> Manage Admin's Information</button>
    </a>
    <br>
    <br>
    
    
</body>
</html>