{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Information Editing page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'registerationpage/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'registerationpage/css/style.css' %}">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{% static 'registerationpage/images/teacher.jpg' %}" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <h1>Teacher Information Update page</h1>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Name :</label>
                                <input type="text" name="firstname" id="name" value="{{ teacher_info.firstname }}" required/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">Father Name :</label>
                                <input type="text" name="middlename" id="father_name" value="{{ teacher_info.middlename }}" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name :</label>
                            <input type="text" name="lastname" id="address" value="{{ teacher_info.lastname }}" required/>
                        </div>

                        <div class="form-group">
                            <label for="address">User Name :</label>
                            <input type="text" name="username" id="address"  value="{{ teacher_info.username }}" required/>
                        </div>

                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input type="text" name="address" id="address"  value="{{ teacher_info.address }}" required/>
                        </div>

                        <div class="form-radio">
                            <label for="gender" class="radio-label">Gender :</label>
                            {% if teacher_info.gender.starts_with == 'M' %}
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                            {% else %}
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" >
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female" checked>
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                            {% endif %}
                        </div>
    
                        <div class="form-group">
                            <label for="phonenumber">Phone Number :</label>
                            
                            <input type="text" name="phonenumber" id="address"   value="{{ teacher_info.phonenumber }}"  required/>
                        </div>

                        
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="email" name="email"  value="{{ teacher_info.email }}" id="birth_date">
                        </div>

                        <label for="" style="color:dodgerblue">If u want to change a passoword optional</label>
       
                        <div class="form-group">
                            <label for="oldpassword">Old Password :</label>
                            <input type="password" name="oldpassword" id="pincode">
                        </div>

                        <div class="form-group">
                            <label for="newpassword">New Password :</label>
                            <input type="password" name="newpassword" id="pincode">
                        </div>
                       
    
                        <div class="form-submit">
                            <a href="">
                            <button  type="button" value="Reset All" class="submit" name="reset" id="reset"> 
                                Reset All
                            </button>
                            </a>
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'registerationpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'registerationpage/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>