<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>
    
    {% if is_course_empty %}
        <table>
            <thead>
                <tr>
                    <td>No</td>
                    <td>Course Name</td>
                </tr>
            </thead>
            <tbody>
                
                {% for course in courses %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ course.course_name }}</td>
                        <td><a href="{% url 'assignment_list_view_for_course_specific' course.course_id %}">view</a></td>
                    </tr>
                
                {% endfor %}
                
            </tbody>
        </table>
    {% else %}
        <center><h3>There is no course regisered for the departemtn and program you in enrolled in</h3></center>
    {% endif %}   

   
</body>
</html>