
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Content View</title>
</head>
<body>
    
    {% if is_empty %}
        <h3>Course Materials</h3>
        {% for coursemat in course_materials %}
            <div style="width: 250px; height: 250px; border: 1px solid black;">
                tittle: {{ coursemat.topic }}
                <br>
                created by: {{ coursemat.course_creator.firstname }} 
                <br>
                {{ coursemat.course_creator.middlename }}
                <br>
                
                <a href="{% url 'course_detail_view_page' course_id coursemat.id %}">
                    <button>
                        View
                    </button>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <center>
            <h2>There is no course material uploaded from the teacher </h2>
        </center>
    {% endif %}

</body>
</html>