<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>

    <a href="{% url 'student_personal_acoount_mgt' %}">
        <button> Personal Account</button>
    </a>
    <br>
    <br>

    <a href="{% url 'studentlogout' %}">
        <button> Logout</button>
    </a>
    <br>
    <br>

    
    <a href="{% url 'student_course_list_view' %}">
        <button> Course View</button>
    </a>
    <br>
    <br>

    <a href="{% url 'assignment_course_list_view_page' %}">
        <button> Assignments View</button>
    </a>
    <br>
    <br>

    <a href="{% url 'student_exam_list_view_page' %}">
        <button> Exams View</button>
    </a>
    <br>
    <br>
    

    <a href="">
        <button> manage payement</button>
    </a>
    <br>
    <br>


</body>
</html>
    
</body>
</html>